# Rust
/target
**/*.rs.bk
Cargo.lock

# JavaScript
node_modules/
js_lib/dist/
js_lib/*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
js_lib/package-lock.json
/examples/*/target/
